body{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #f8f3ef;
}
section{
    height: 100vh;
}
.About{
    display: flex;
}
.Projects{
    display: flex;
}
.home{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/* .canvas{
    max-width: 15%;
    max-height: 15%;
} */